.env
actions/data
postgres_connection.json
data-node
logs
meili_data_v1.7
pgdata2
tmp
ingestion/api/hapi/*
ingestion/api/hdx/*
.vscode
code-interpretor/static/*
actions/actions_plugins/recipe-server/images
__pycache__
ui/recipes_assistant_chat/datadb
ui/recipes_assistant_chat/docsdb
ui/recipes_assistant_chat/recipesdb
instructions.txt
dataset_details.json