.env
actions/data
postgres_connection.json
data-node
logs
meili_data_v1.7
pgdata2
tmp
ingestion/api/hapi/*
!ingestion/api/hapi/.gitkeep
ingestion/api/hdx/*
.vscode
code-interpreter/static/*
__pycache__
ui/recipes-chat/datadb
ui/recipes-chat/docsdb
ui/recipes-chat/recipesdb
instructions.txt
dataset_details.json
.DS_Store
recipes-management/checked_out/*
!recipes-management/checked_out/.gitkeep
!recipes-management/checked_out/skills.py
recipes-creation/files/

