
autogenstudio==0.0.56
black==22.1.0
chainlit==1.1.301
click==8.1.7
datetime==4.3
fastparquet==2024.5.0 
gdown==5.2.0
geoalchemy2==0.14.6
geopandas==0.10.2
hdx-python-country==3.6.9
hdx-python-utilities==3.6.6
hdx_python_api==6.2.4
kaleido==0.2.1
langchain-community==0.2.5
langchain==0.2.1
langchain_openai==0.1.7
literalai==0.0.604
matplotlib==3.9.0
pandas==2.2.2
pgvector==0.2.4
plotly==5.22.0
psycopg2_binary==2.9.9
pyarrow==16.1.0
python-dotenv==1.0.0
#robocorp
#robocorp-actions
#robocorp-truststore
seaborn==0.13.2
sqlalchemy==2.0.30
pytest==8.2.2
