{
    "standard_names":{
        "country_code_field": "adm0_code",
        "admin0_code_field": "adm0_code",
        "admin1_code_field": "adm1_code",
        "admin2_code_field": "adm2_code",
        "admin3_code_field": "adm3_code"
    },
    "field_map": {
        "location_code": "adm0_code",
        "admin1_code": "adm1_code",
        "admin2_code": "adm2_code",
        "admin3_code": "adm3_code",
        "admin1_name": "adm1_name",
        "admin2_name": "adm2_name",
        "admin3_name": "adm3_name",
        "ADM0_PCODE": "adm0_code",
        "ADM1_PCODE": "adm1_code",
        "ADM2_PCODE": "adm2_code",
        "ADM3_PCODE": "adm3_code",
        "admin0Pcod": "adm0_code",
        "admin1Pcod": "adm1_code",
        "admin2Pcod": "adm2_code"
    },
    "openapi_interfaces": [
        {
            "api_name": "hapi",
            "api_descr": "New HDX API",
            "openapi_def": "https://hapi.humdata.org/openapi.json",
            "authentication": {
                "type": "query_parameter",
                "name": "app_identifier",
                "value": "{{ HAPI_API_TOKEN }}"
            },
            "data_node": "data",
            "excluded_endpoints": [
                "/api/v1/encode_identifier",
                "/api/v1/admin1",
                "/api/v1/admin1",
                "/api/v1/gender",
                "/api/v1/util/version"
            ]
        }        
    ]
}