{# templates/edit_recipe_code_prompt.jinja2 #}

Edit the recipe code below to edit it as follows:  {{ llm_prompt }}

CODE TO EDIT:
        
```
{{ recipe_code }}
```

CODE TIPS:

```
{{ coding_standards }}
```

CODE OUTPUT LAST TIME IT WAS RUN:

```
{{ stdout_output }}
```

CODE ERRORS LAST TIME IT WAS RUN:

```
{{ stderr_output }}
```

DATASET INFO:

```
{{ data_info }}
```

IMPORTANT: You must respond ONLY with a JSON record with the following fields:

{
    "code": "<THE EDITED CODE YOU GENERATED GOES HERE>",
    "message": "<SUPPORTING INFORMATION YOU CAN PROVIDE>",
}