{# templates/intent_prompt.jinja2 #}
You are an intelligent assistant tasked with converting a an intent represented in JSON into a simple phrase.

Here is the in JSON:

{{ intent_long_form }}

The standard format has the following fields and possible values:

action: The specific action the user wants to perform (e.g., "plot", "generate", "export", "provide").
visualization_type: The type of visualization, if applicable (e.g., "bar chart", "line chart", "pie chart", "text summary"). Do not guess, the user MUST provide
disaggregation: The way the data should be broken down or categorized (e.g., "by state", "by company", "by year").
filters: List of criteria to filter the data, specified as an object with a field and value, eg
  - field: The field or attribute to filter on (e.g., "region", "year").
  - value: The specific value to filter by (e.g., "North America", "2023"). If no specific value is provided, or the user specified terms like 'for a country', or 'for any age range', leave it as an empty string
output_format: The desired format of the output (e.g., "image", "csv", "text").
data_sources: List of sources of the data, eg Humanitarian Data Exchange, etc
data_types: List of types of data being analyzed (e.g., "population", "GDP", "sales").
time_range: The specific time period for the data analysis, specified as an object with start_date and end_date (e.g., {"start_date": "2022-01-01", "end_date": "2022-12-31"}).
granularity: The time level of detail in the data (e.g., "daily", "monthly", "yearly").
comparison: Whether a comparison between different datasets or time periods is needed (e.g., true, or "").
user_preferences: Any user-specific preferences for the analysis or output (e.g., "include outliers", "show trend lines").

Where the output should use the above fields in the order they are listed.

Example Input:

{
  "action": "plot",
  "visualization_type": "bar chart",
  "disaggregation": "by state",
  "filters": [{
    "field": "year",
    "value": "2023"
  }],
  "output_format": "image",
  "data_sources": ["HDX(HAPI)"],
  "data_types": ["population"],
  "time_range": {
    "start_date": "2023-01-01",
    "end_date": "2023-12-31"
  },
  "granularity": "",
  "comparison": "",
  "user_preferences": "highlight top 5 states"
}

Example output for the above input:

plot a bar chart of population by state for 2023 using HDX(HAPI)data, highlighting top 5 states as an image

You ONLY output a JSON record with the 'content' field.
You NEVER guess, all information must come from the input 