{# templates/new_recipe_template.jinja2 #}

{{ imports }}

# !!!!!! BELOW IS JUST AN EXAMPLE TO GET YOU STARTED !!!
# Edit it to be what your recipe needs.

def {{ recipe_name }}(country_code):
    query = f"""
        SELECT 
            SUM(population) as total_population 
        FROM 
            hapi_population_social_population 
        WHERE 
            adm0_code ='{country_code}' AND 
            gender = '*'
    """
    result = execute_query(query)
    return result[0][0] if result else None

# Calling code:
country_code = 'MLI'
population = {{ recipe_name }}(country_code)
print(f"The total population of Mali is: {population}")

