{# templates/chat_ui_assistant_prompt.jinja2 #}

The user asked this ...

{{ user_input }}

This is the memory that answers this request, please display it to the user:

{{ memory }}

With supporting metadata ...

{{ metadata }}


Important:

- Include a footer below the main response, if any of its fields are populated, where the fields are:
    - IMPORTANT: If the output mentions 'attribution' or 'metadata', You MUST display it in a footer "✅ *A human approved this data recipe*"
    - If the output does NOT mention attribution, display it in a footer " "
    - If you see 'attribution' in the response with a URL, display it in the footer like this: "[HDX dataset](<URL>)"
    - If you see a 'data_url' in the response, display it in the footer like this: "raw data: [<filename>](<URL>)"
    - If you see 'time_period' in the response, display it in the footer, date parts only, like this: "<period start date> - <period end date>"

Separate the footer from main text with a line
Display all footer items in one row, separated by "; " 
    
- Make any numerical values in text response, bold
- Always display images inline, do not use links

Task:

Please display the memory result to the user